<launch>
  <!--node pkg = "henes_car_control" type = "steering_save_pub.py" name = "steering_save_node"/>-->

  <node pkg = "ntrip_ros" type="find_heading_using_one_gps_driving_mode.py" name = "find_heading_using_gps" output = "screen"/>

  <node pkg="ydlidar_ros_driver" type="tunnel_control_sc_original.py" name="Tunnel_node" output="screen"/>

  <node pkg="henes_car_control" type="contest.py" name="henes_lane" output="screen"/>

   <node pkg = "ntrip_ros" type="current_velocity.py" name = "current_velocity_using_gps" output = "screen"/>

</launch>
    
