<launch>

  <!--<node pkg="tf" type="static_transform_publisher" name="odom_broadcaster" args="0 0 0 0 0 0 map /odom 10" />
  <node pkg="tf" type="static_transform_publisher" name="base_link_broadcaster" args="0 0 0.02 0 0 0 base_footprint base_link 10" />
  <node pkg="tf" type="static_transform_publisher" name="gps_broadcaster" args="0 0 0.1 0 0 0 base_footprint gps 10" />
  <node pkg="tf" type="static_transform_publisher" name="imu_broadcaster" args="0 0 0.3 0 0 0 base_link /imu 10" />

  <node pkg="tf" type="static_transform_publisher" name="sonar_broadcaster" args="0.2 0 0 0 0 0 base_link sonar_range 10" />-->
  
  <node name="serial_node"        pkg="rosserial_python"      type="serial_node.py">
    <param name="port"              type="string"               value="/dev/ttyARD"/>
    <param name="baud"              type="int"                  value="57600"/>
  </node>
  
  <!--<include file="$(find handsfree_ros_imu)/launch/handsfree_imu.launch" />-->

  <include file="$(find teleop_twist_joy)/launch/teleop.launch" />
 
  <param name = "imu_offset_angle" type = "double" value = "30.0"/>
  <node pkg="henes_car_control" type="henes_car_control_node" name="henes_base_control_node" output="screen"/>

  <!--<include file="$(find sc_mini)/launch/sc_mini_test.launch" />-->

  <!--<include file="$(find ydlidar_ros_driver)/launch/lidar_view.launch"/>-->

  <!--node pkg = "henes_car_control" type = "steering_save_pub.py" name = "steering_save_node"/>-->

  <!--<include file="$(find hls_lfcd_lds_driver)/launch/hlds_laser.launch" />-->
</launch>
    
